*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-colour: #0072b0;
  --secondary-colour: #f2f2f2;
  --tertiary-colour: #414141;
  --column-width: 1080px; /* constrain for larger viewports */
}

body {
  margin: unset;
  background-colour: var(--secondary-colour);
  font-family: -apple-system, -apple-system,
                BlinkMacSystemFont, Verdana,
                sans-serif; 
}

button {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border: none;
  padding: 15px 32px;
  border-radius: 2em;
  font-size: 1.5em;
  margin: 1em 0;
}

li {
  text-transform: capitalize;
}
