*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-colour: #150663;
  --secondary-colour: #123033;
  --tertiary-colour: #d7d7d2;
  --column-width: 1080px; /* constrain for larger viewports */
}

body {
  margin: unset;
  background-colour: var(--secondary-colour);
  font-family:
    -apple-system,
    -apple-system,
    BlinkMacSystemFont,
    Verdana,
    sans-serif;
}

button {
  background-color: var(--primary-colour);
  color: var(--tertiary-colour);
  border: none;
  padding: 15px 32px;
  border-radius: 2em;
  font-size: 1.5em;
  margin: 1em 0;
}

li {
  text-transform: capitalize;
}
